body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #ea4f4c 0%, #6d0019 100%);
}

.navigationWrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #222;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: white;
  text-transform: uppercase;
  overflow: hidden;
  width: 100%;
  z-index: 1000;
}

.navigationWrapper ul {
  margin-right: 2rem;
}

.logo {
  padding-left: 4px;
  color: #ea4f4c;
}

.navigation {
  display: flex;

  .parent {
    padding: 0 10px;
    cursor: pointer;

    .link {
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: all 1.7s ease-in-out;
      color: white;

      &:hover {
        color: #ea4f4c;
      }
    }
  }

  .nav-link {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 13px;
    letter-spacing: 2px;

    &:hover {
      color: #ea4f4c;
    }
  }
}

@media only screen and (max-width: 768px) {
  .navigationWrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .invisible {
    opacity: 0 !important;
    transform: translate(50px, 0);
  }
}
