 

.cart-container {
  text-align: center;
}

.cart-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));  
  gap: 20px;
}

.cart-item {
  margin: 20px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 8px;
  width: 220px;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s, transform 0.6s;
}

.cart-item:hover {
  transform: scale(1.05);
}

.cart-item img {
  max-width: 90%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.cart-item-info {
  margin-top: 10px;
}

.cart-item-title {
  font-size: 16px;
  margin-bottom: 5px;
}

.cart-item-size,
.cart-item-price {
  font-size: 14px;
  color: black;
  
}

.cart-item button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-item button:hover {
  background-color: #45a049;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cart-item {
  animation: fadeIn 0.8s forwards;
}
