@font-face {
  font-family: "Anton";
  src: url("../../assets//fonts//Anton/Anton-Regular.ttf") format("ttf");
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.product-show {
  overflow: hidden;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 3rem;
}
.product-decs {
  display: flex;
  flex-direction: column;
}
.product-decs h1 {
  font-size: 4vh;
  text-transform: uppercase;
}

.product-decs .cta-button {
  width: 226px;
}

.product-decs .cta-button:hover {
  content: "Buy it now";
  transition: 0.6s;
  background-color: #333;
  color: aliceblue;
}

.img {
  width: 520px;
  letter-spacing: 5px;
  height: 520px;
  margin-left: 1rem;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  background-image: url("../../assets//NGO-26326_Asset_2021_December_PDP-IMAGE_698x698_ADG_PROFUMO-removebg-preview.png");
}

.show-case {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--primary-color) url("../../assets/cover.png") no-repeat
    center center;
}

.video-container video {
  min-width: 90%;
  min-height: 90%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.show-content {
  overflow: hidden;
  z-index: 10;
  text-align: center;
  color: #fff;
}

.show-content h1 {
  font-family: "Anton", sans-serif;
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.5;
}
.about-us {
  padding: 150px 150px;
  background-color: #333;
}
.show-content p {
  margin-top: 1rem;
  font-size: 2vw;
}

.lineUp {
  animation: 4s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.cta-button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.contact {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.cta-button {
  background-color: #fff;
  color: #333;
  margin-top: 3rem;
}

footer {
  color: #143122;
  text-align: center;
  margin-top: 3rem;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .cta-button {
    padding: 0.8rem 1.5rem;
  }

  .hero-content {
    padding: 0 1rem;
  }
}
