.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
   
}

.login-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  opacity: 0; /* Initial opacity for the fade-in effect */
  animation: fadeIn 0.8s forwards; /* Apply the fade-in animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 8px;
  transition: border-color 0.3s;
}

input:focus {
  outline: none;
  border-color: #04AA6D;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Add transition for button scale effect */
}

button:hover {
  background-color: #037e54;
  transform: scale(1.05); /* Scale the button on hover */
}
